@import './calendar-variables'

.q-calendar-daily
  background: $calendar-background-color

  .q-calendar-daily__intervals-head
    border-right: $calendar-border-color $calendar-border-width solid
    border-bottom: $calendar-border-color $calendar-border-width solid

  .q-calendar-daily__column-header--before
    border-bottom: $calendar-border-color $calendar-border-width solid

  .q-calendar-daily__column-header--after
    border-top: $calendar-border-color $calendar-border-width solid

  .q-calendar-daily__head-day
    border-right: $calendar-border-color $calendar-border-width solid
    border-bottom: $calendar-border-color $calendar-border-width solid
    color: $calendar-background-color

    &.q-outside
      background: $calendar-outside-background-color
      color: $calendar-outside-text-color

    &.q-current-day
      color: $calendar-day-current-color

      .q-calendar-daily__head-day-label
        font-weight: 700
        color: $calendar-primary-color

        .q-btn__wrapper:before
          border-width: $calendar-border-width

    &.q-future-day
      color: $calendar-day-future-color

      .q-calendar-daily__head-day-label
        color: $calendar-primary-color

    &.q-past-day
      color: $calendar-day-past-color

      .q-calendar-daily__head-day-label
        color: $calendar-day-past-color

  .q-calendar-daily__intervals-body
    border-right: $calendar-separator 1px solid

    .q-calendar-daily__interval-text
      color: $calendar-text-color

  .q-calendar-daily__day
    border-right: $calendar-border-color $calendar-border-width solid
    border-bottom: $calendar-border-color $calendar-border-width solid

    &.q-current-day
      // border #9e9e9e 1px solid !important

  .q-calendar-daily__day-interval
    border-top: $calendar-border-color $calendar-border-width solid

    &:first-child
      border-top: none !important

.q-calendar-daily__day-interval--droppable
  border: $calendar-primary-color $calendar-border-width dashed

.q-calendar-daily__day--droppable
  border: $calendar-primary-color $calendar-border-width dashed

.q-calendar-daily
  display: flex
  flex: 1
  flex-wrap: nowrap
  flex-direction: column
  height: 100%
  width: 100%

  &__head
    flex: none
    display: flex
    overflow: hidden
    min-height: 25px

  &__intervals-head
    flex: none
    display: flex
    overflow: hidden
    vertical-align: bottom
    width: $calendar-intervals-body-width
    color: $calendar-text-color
    border-bottom: 1px solid $calendar-border-color

    &--text
      display: block
      position: relative
      font-size: 10px
      text-align: center
      vertical-align: bottom

  &__head-day
    flex: 1 1 auto
    flex-wrap: nowrap
    overflow: hidden
    width: 0

  &__head-weekday
    display: flex
    flex-wrap: nowrap
    flex: 1
    user-select: none
    padding: 4px
    font-size: 1rem
    justify-content: left

  &__head-day-label
    user-select: none
    border-radius: 50%
    // padding: 0.285em
    cursor: pointer
    left: 2px;
    bottom: 2px;

  &__column-header__before
    display: flex
    flex-wrap: nowrap
    flex: 1
    user-select: none
    padding: 4px
    font-size: 1rem
    justify-content: left

  &__column-header__after
    display: flex
    flex-wrap: nowrap
    flex: 1
    user-select: none
    padding: 4px
    font-size: 1rem
    justify-content: left

  &__body
    flex: 1 1 60%
    overflow: hidden
    display: flex
    position: relative
    flex-direction: column

  &__scroll-area
    overflow-y: scroll
    flex: 1 1 auto
    display: flex
    align-items: flex-start

  &__pane
    width: 100%
    overflow-y: hidden
    flex: none
    display: flex
    align-items: flex-start

  &__day-container
    position: relative
    display: flex
    flex: 1
    width: 100%
    height: 100%

  &__intervals-body
    flex: none
    user-select: none
    width: $calendar-intervals-body-width

  &__interval
    text-align: center
    border-bottom: none

  &__interval-text
    display: block
    position: relative
    top: -6px
    font-size: 10px

  &__day
    flex: 1
    width: 0
    position: relative

.body--dark
  .q-calendar-daily
    background: $calendar-background-color-dark

    .q-calendar-daily__intervals-head
      border-right: $calendar-border-color-dark $calendar-border-width solid
      border-bottom: $calendar-border-color-dark $calendar-border-width solid

    .q-calendar-daily__column-header--before
      border-bottom: $calendar-border-color-dark $calendar-border-width solid

    .q-calendar-daily__column-header--after
      border-top: $calendar-border-color-dark $calendar-border-width solid

    .q-calendar-daily__head-day
      border-right: $calendar-border-color-dark $calendar-border-width solid
      border-bottom: $calendar-border-color-dark $calendar-border-width solid
      color: $calendar-background-color-dark

      &.q-outside
        background: $calendar-outside-background-color-dark
        color: $calendar-outside-text-color-dark

      &.q-current-day
        color: $calendar-day-current-color-dark

        .q-calendar-daily__head-day-label
          color: $calendar-primary-color-dark

      &.q-future-day
        color: $calendar-day-future-color-dark

        .q-calendar-daily__head-day-label
          color: $calendar-primary-color-dark

      &.q-past-day
        color: $calendar-day-past-color-dark

        .q-calendar-daily__head-day-label
          color: $calendar-day-past-color-dark

    .q-calendar-daily__intervals-body
      border-right: $calendar-border-color-dark $calendar-border-width solid

      .q-calendar-daily__interval-text
        color: $calendar-text-color-dark

    .q-calendar-daily__day
      border-right: $calendar-border-color-dark $calendar-border-width solid
      border-bottom: $calendar-border-color-dark $calendar-border-width solid

      &.q-current-day
        // border $calendar-border-color-dark $calendar-border-width solid

    .q-calendar-daily__day-interval
      border-top: $calendar-border-color-dark $calendar-border-width solid

      &:first-child
        border-top: none !important

  .q-calendar-daily__day-interval--droppable
    border: $calendar-border-color-dark $calendar-border-width solid$calendar-border-color-dark $calendar-border-width dashed

  .q-calendar-daily__day--droppable
    border: $calendar-border-color-dark $calendar-border-width dashed
