@import './calendar-variables'

.q-calendar
  min-width: 300px

.q-calendar-weekly
  background: $calendar-background-color

  .q-calendar-weekly__head-workweek
    border-right: $calendar-border-color $calendar-border-width solid
    border-bottom: $calendar-border-color $calendar-border-width solid
    color: $calendar-day-current-color
    font-weight: $calendar-workweek-font-weight
    align-items: center

  .q-calendar-weekly__head-weekday
    border-right: $calendar-border-color $calendar-border-width solid
    border-bottom: $calendar-border-color $calendar-border-width solid
    color: $calendar-day-current-color
    font-weight: $calendar-weekly-head-weekday-font-weight

  .q-calendar-weekly__workweek
    border-right: $calendar-border-color $calendar-border-width solid
    border-bottom: $calendar-border-color $calendar-border-width solid
    font-weight: $calendar-workweek-font-weight
    align-items: center
    justify-content: center

    &.q-past-day
      color: $calendar-day-past-color

    &.q-future-day
      color: $calendar-day-future-color

    &.q-current-day
      color: $calendar-day-current-color

  .q-calendar-weekly__day
    border-right: $calendar-border-color $calendar-border-width solid
    color: $calendar-text-color

    &.q-selected-day
      background: lighten($calendar-primary-color, 45%) !important
      color: $calendar-primary-color !important

    &.q-outside
      background: $calendar-outside-background-color
      color: $calendar-outside-text-color

      &.q-selected-day
        color: lighten($calendar-primary-color, 30%) !important

    &.q-future-day
      color: $calendar-day-future-color

    &.q-current-day

      .q-calendar-weekly__day-label
        font-weight: 400

        .q-btn__wrapper:before
          border-width: $calendar-border-width

      .q-calendar-weekly__day-month
        color: currentColor

      .q-calendar-weekly__day-month--day-of-year
        color: currentColor

    &.q-past-day
      // color: $calendar-day-past-color

.q-calendar-weekly__day--droppable
    border-right: $calendar-primary-color $calendar-border-width dashed

.q-calendar-weekly
  display: flex
  flex: 1
  flex-wrap: nowrap
  flex-direction: column
  height: 100%
  width: 100%

  &__head
    display: flex
    flex-wrap: nowrap
    user-select: none

  &__head-workweek
    display: flex
    flex-wrap: nowrap
    width: $calendar-work-week-width
    user-select: none
    padding: 0 4px
    font-size: 1rem
    justify-content: center

  &__head-weekday
    display: flex
    flex-wrap: nowrap
    flex: 1
    user-select: none
    padding: 0 4px
    font-size: 1rem
    justify-content: center

  &__week
    border-bottom: $calendar-border-color $calendar-border-width solid
    // min-height: 6em
    position: relative

    &--wrapper
      display: flex
      flex-wrap: nowrap
      position: relative

    &-days
      position: absolute
      height: 100%
      left: 0
      top: 0
      right: 0
      bottom: 0
      display: flex
      flex-wrap: nowrap

    &-events
      position: relative
      padding-top: 2.6em

  &__workweek
    display: flex
    flex-wrap: nowrap
    width: $calendar-work-week-width
    user-select: none
    padding: 0 4px
    font-size: $calendar-work-week-font-size
    align-items: center

  &__day
    display: flex
    flex: 1
    overflow: hidden
    user-select: none
    position: relative

  &__day-label
    position: absolute
    text-decoration: none
    user-select: none
    cursor: pointer
    box-shadow: none
    color: currentColor
    text-align: center
    left: 2px
    top: 2px
    border-radius: $calendar-day-label-radius
    min-width: $calendar-day-label-height
    min-height: $calendar-day-label-height
    line-height: $calendar-day-label-height
    font-weight: 400

  &__day-month
    position: absolute
    text-decoration: none
    user-select: none
    box-shadow: none
    top: 5px
    right: 2px
    height: $calendar-day-label-height
    line-height: $calendar-day-label-height

  &__day-month--day-of-year
    position: absolute
    text-decoration: none
    user-select: none
    box-shadow: none
    top: 2px
    right: 2px
    font-size: 0.6rem

  .q-event
    // ToDo

.q-calendar-mini

  .q-calendar-weekly__head-workweek
    border-right: unset
    border-bottom: unset

  .q-calendar-weekly__head-weekday
    border: 0 !important

  .q-calendar-weekly__workweek
    border-right: unset
    border-bottom: unset
    font-size: 1em

  .q-calendar-weekly__day
    justify-content: center
    align-items: center
    flex-wrap: wrap
    min-height: 2.2em
    min-width: 2.2em
    padding: 0
    border: 0 !important

    &.q-past-day
      color: $calendar-day-future-color

    &.q-outside
      background: transparent !important
      color: lighten($calendar-day-future-color, 40%)

    &.q-selected-day
      background: transparent !important

      &:before
        content: ''
        display: block
        position: absolute
        width: 100%
        height: 1.6em //2.4em
        top: 0
        right: 0
        bottom: 0
        left: 0
        margin: auto
        background: lighten($calendar-primary-color, 45%)

      // &:first-child:before
      //   border-radius: 0.8em 0 0 0.8em

      // &:last-child:before
      //   border-radius: 0 0.8em 0.8em 0

      &.q-selected-day-first,
      &.q-selected-day-last
        .q-calendar-weekly__day-label
          background: $calendar-primary-color !important
          color: #fff
          border-radius: 50%

      &.q-selected-day-first
        &:before
          width: 50%
          left: auto

      &.q-selected-day-last
        &:before
          width: 50%
          right: auto
        &.q-selected-day-first
          &:before
            width: 0

    &.q-current-day
      .q-calendar-weekly__day-label .q-btn__wrapper:before
        border-color: #3e3e3e
        font-color: #3e3e3e
        color: white
        border-width: $calendar-border-width

  .q-calendar-weekly__day-label
    position: absolute
    text-align: center
    top: unset
    right: 0
    bottom: unset
    left: 0
    margin: auto

  .q-event:not(.q-event-void)
    &:after
      content: ''
      width: 0.6em
      height: 0.4em
      border-radius: 50%
      left: 0
      right: 0
      margin: auto
      background: $calendar-primary-color

  .q-calendar-weekly__week
    min-height: 3em
    border-bottom: unset

  .q-calendar-weekly__week-events
    padding-top: 1.3em

.body--dark
  .q-calendar-weekly
    background: $calendar-background-color-dark

  .q-calendar-weekly__head-workweek
    border-right: $calendar-border-color-dark $calendar-border-width solid
    border-bottom: $calendar-border-color-dark $calendar-border-width solid
    color: $calendar-day-current-color-dark

  .q-calendar-weekly__head-weekday
    border-right: $calendar-border-color-dark $calendar-border-width solid
    border-bottom: $calendar-border-color-dark $calendar-border-width solid
    color: $calendar-day-current-color-dark

  .q-calendar-weekly__workweek
    border-right: $calendar-border-color-dark $calendar-border-width solid
    border-bottom: $calendar-border-color-dark $calendar-border-width solid

    &.q-past-day
      color: $calendar-day-past-color-dark

    &.q-future-day
      color: lighten($calendar-primary-color-dark, 20%)

    &.q-current-day
      color: $calendar-primary-color-dark

  .q-calendar-weekly__day
    border-right: $calendar-border-color-dark $calendar-border-width solid
    border-bottom: $calendar-border-color-dark $calendar-border-width solid
    color: $calendar-primary-color-dark

    &.q-outside
      background: $calendar-outside-background-color-dark
      color: $calendar-outside-text-color-dark

    &.q-future-day
      color: lighten($calendar-primary-color-dark, 20%)

    &.q-current-day

      .q-calendar-weekly__day-label
        font-weight: 400

      .q-calendar-weekly__day-month
        color: currentColor

      .q-calendar-weekly__day-month--day-of-year
        color: currentColor

    &.q-past-day
      color: $calendar-day-past-color-dark

  .q-calendar-weekly__day--droppable
    border-right: $calendar-primary-color-dark $calendar-border-width dashed

  .q-calendar-mini
    .q-calendar-weekly__day
      color: #fff

      &.q-future-day,
      &.q-past-day
        color: $calendar-day-past-color-dark

      &.q-selected-day
        color: #fff !important

        &:before
          background: #393939

      &.q-current-day
        .q-calendar-weekly__day-label .q-btn__wrapper:before
          border-color: #fff

.q-event
  &:first-child
    margin-top: 2.6em

.q-calendar-mini
  .q-event
    margin-top: 2.6em