$calendar-primary-color                   : #027BE3
$calendar-primary-color-dark              : #027BE3
$calendar-background-color                : #fafafa
$calendar-background-color-dark           : #e0e0e0
$calendar-text-color                      : #616161
$calendar-text-color-dark                 : #424242
$calendar-border-color                    : #e0e0e0
$calendar-border-color-dark               : #9e9e9e
$calendar-day-current-color               : #424242
$calendar-day-current-color-dark          : #424242
$calendar-day-future-color                : #616161
$calendar-day-future-color-dark           : #616161
$calendar-day-past-color                  : #9e9e9e
$calendar-day-past-color-dark             : #6e6e6e
$calendar-day-outside-color               : #e0e0e0
$calendar-day-outside-color-dark          : #e0e0e0
$calendar-outside-text-color              : #9e9e9e
$calendar-outside-text-color-dark         : #424242
$calendar-outside-background-color        : #eeeeee
$calendar-outside-background-color-dark   : #bebebe
$calendar-work-week-color                 : #9e9e9e
$calendar-work-week-color-dark            : #e0e0e0
$calendar-separator                       : #fcc0c0
$calendar-separator-dark                  : #ff8080
$calendar-day-label-height                : 24px
$calendar-day-label-radius                : 50%
$calendar-work-week-width                 : 50px
$calendar-work-week-font-size             : 2em
$calendar-workweek-font-weight            : 600
$calendar-resources-body-width            : 100px
$calendar-intervals-body-width            : 50px

$calendar-weekly-head-weekday-font-weight : 400
