@import './q-calendar.sass'

.q-calendar-resource
  display: flex
  flex: 1
  flex-direction: column
  flex-wrap: nowrap
  height: 100%
  width: 100%

  &__head--intervals
    display: flex
    flex-direction: row

  &__head
    position: relative
    flex: none
    display: flex
    flex-direction: row

    &--intervals
      display: flex
      flex-direction: row

    &--interval
      display: flex
      justify-content: center
      align-items: center
      position: relative
      font-size: 10px
      user-select: none
      width: 100%
      height: 100%

  &__body
    position: relative
    display: flex
    flex: 1 1 60%
    flex-direction: column
    overflow: hidden

  &__scroll-area
    flex: 1 1 auto
    display: flex
    align-items: flex-start
    overflow: auto

  &__day--container
    position: relative
    display: flex
    flex: 1
    flex-wrap: nowrap
    flex-direction: column

  &__resource--head
    display: flex
    flex-direction: row
    flex: 1
    position: relative
    font-size: 10px
    // padding: 2px

  &__resources--body
    display: flex
    position: relative
    flex-direction: column
    flex-wrap: wrap

  &__resource--row
    display: flex
    position: relative
    flex-direction: row
    flex-wrap: nowrap
    flex: 1

  &__resource
    position: relative
    display: flex
    align-items: center
    text-align: left
    vertical-align: middle
    outline: 0

    &--section
      position: relative
      display: flex
      align-items: center
      text-align: left
      vertical-align: middle
      outline: 0

  &__resource--text
    display: flex
    position: relative
    font-size: 12px
    align-items: center
    flex-wrap: wrap
    padding: 2px

  &__resource--intervals
    display: flex
    position: relative

// sticky
.q-calendar-resource__resource.q-calendar__sticky,
.q-calendar-resource__resource--section.q-calendar__sticky
  position: sticky
  left: 0 #{"/* rtl:ignore */"}
  z-index: 1

.q-calendar-resource__head.q-calendar__sticky
  position: sticky
  left: 0 #{"/* rtl:ignore */"}
  top: 0
  z-index: 2

.q-calendar-resource__head--resources.q-calendar__sticky
  position: sticky
  left: 0 #{"/* rtl:ignore */"}
  top: 0
  z-index: 10

.q-calendar-resource

  &__head
    color: var(--calendar-color)
    background: var(--calendar-background)
    border-bottom: var(--calendar-border)

    &--resources
      border-right: var(--calendar-border)
      color: var(--calendar-color)
      background: var(--calendar-background)
      border-bottom: var(--calendar-border)

      &:last-child
        border-right: none

    &--interval
      border-right: var(--calendar-border)
      // border-bottom: var(--calendar-border)

      &:last-child
        border-right: none

  &__resource
    border-bottom: var(--calendar-border)
    border-right: var(--calendar-border)
    color: var(--calendar-color)
    background: var(--calendar-background)

    &--section
      border-bottom: var(--calendar-border)
      border-right: var(--calendar-border)
      color: var(--calendar-color)
      background: var(--calendar-background)

      // &:last-child
      //   border-bottom: none

  &__resource--interval
    border-bottom: var(--calendar-border)
    border-right: var(--calendar-border)

    &:last-child
      border-right: none

.q-calendar-resource__resource--row:last-child > .q-calendar-resource__resource
  border-bottom: none

// .q-calendar-resource__resource--row:last-child > .q-calendar-resource__resource--intervals > .q-calendar-resource__resource--interval
//   border-bottom: none

.q-dark div,
.body--dark div,
.q-calendar--dark
  .q-calendar-resource

    &__head
      color: var(--calendar-color-dark)
      background: var(--calendar-background-dark)
      border-bottom: var(--calendar-border-dark)

      &--resources
        border-right: var(--calendar-border-dark)
        color: var(--calendar-color-dark)
        background: var(--calendar-background-dark)

      &--interval
        border-right: var(--calendar-border-dark)
        // border-bottom: var(--calendar-border-dark)

    // &__body
    //   border-top: var(--calendar-border-dark)

    &__resource
      border-bottom: var(--calendar-border-dark)
      border-right: var(--calendar-border-dark)
      color: var(--calendar-color-dark)
      background: var(--calendar-background-dark)

      &--section
        border-bottom: var(--calendar-border-dark)
        border-right: var(--calendar-border-dark)
        color: var(--calendar-color-dark)
        background: var(--calendar-background-dark)

      &:last-child
        border-bottom: none


    &__resource--interval
      border-bottom: var(--calendar-border-dark)
      border-right: var(--calendar-border-dark)
