\:root
  // borders
  --calendar-border                               : #e0e0e0 1px solid
  --calendar-border-dark                          : #71755d 1px solid
  --calendar-border-section                       : #e0e0e0 1px dashed
  --calendar-border-section-dark                  : #71755d 1px dashed

  --calendar-border-current                       : #027BE3 2px solid
  --calendar-border-current-dark                  : #ffff66 2px solid

  --calendar-mini-range-connector-hover-border : #027BE3 1px dashed
  --calendar-mini-range-connector-hover-border-dark : #ffff66 1px dashed

  --calendar-color                                : #606c71
  --calendar-color-dark                           : #fafafa
  --calendar-background                           : #ffffff
  --calendar-background-dark                      : #121212

  --calendar-current-color                        : #027BE3
  --calendar-current-color-dark                   : #ffff66
  --calendar-current-background                   : #00000000
  --calendar-current-background-dark              : #121212

  --calendar-disabled-date-color                  : #a1a1a1
  --calendar-disabled-date-color-dark             : #bebebe
  --calendar-disabled-date-background             : #ffffff
  --calendar-disabled-date-background-dark        : #121212

  --calendar-active-date-color                    : #027BE3
  --calendar-active-date-color-dark               : #ffff66
  --calendar-active-date-background               : #ddccf7
  --calendar-active-date-background-dark          : #8f44ff

  --calendar-outside-color                        : #606c71
  --calendar-outside-color-dark                   : #bebebe
  --calendar-outside-background                   : #00000000
  --calendar-outside-background-dark              : #121212

  --calendar-selected-color                  : #027BE3
  --calendar-selected-color-dark             : #027BE3
  --calendar-selected-background             : #cce7ff
  --calendar-selected-background-dark        : #cce7ff

  --calendar-mini-selected-color                  : #027BE3
  --calendar-mini-selected-color-dark             : #027BE3
  --calendar-mini-selected-background             : #00000000
  --calendar-mini-selected-background-dark        : #00000000
  --calendar-mini-selected-label-color            : #027BE3
  --calendar-mini-selected-label-color-dark       : #cce7ff
  --calendar-mini-selected-label-background       : #cce7ff
  --calendar-mini-selected-label-background-dark  : #027BE3

  --calendar-range-color                   : #027BE3
  --calendar-range-color-dark              : #027BE3
  --calendar-range-background              : #cce7ff
  --calendar-range-background-dark         : #cce7ff

  --calendar-mini-range-color                : #cce7ff
  --calendar-mini-range-color-dark           : #027BE3
  --calendar-mini-range-background           : #00000000
  --calendar-mini-range-background-dark      : #00000000
  --calendar-mini-range-label-color          : #cce7ff
  --calendar-mini-range-label-color-dark     : #027BE3
  --calendar-mini-range-label-background     : #cce7ff
  --calendar-mini-range-label-background-dark : #cce7ff
  --calendar-mini-range-connector-color      : #cce7ff
  --calendar-mini-range-connector-color-dark : #ffff66
  --calendar-mini-range-hover-color          : #027BE3
  --calendar-mini-range-hover-color-dark     : #ffff66

  --calendar-mini-range-firstlast-color                : #cce7ff
  --calendar-mini-range-firstlast-color-dark           : #cce7ff
  --calendar-mini-range-firstlast-background           : #00000000
  --calendar-mini-range-firstlast-background-dark      : #cce7ff
  --calendar-mini-range-firstlast-label-color          : #cce7ff
  --calendar-mini-range-firstlast-label-color-dark     : #cce7ff
  --calendar-mini-range-firstlast-label-background     : #027BE3
  --calendar-mini-range-firstlast-label-background-dark : #ffff66

  // scrollbars
  --calendar-scrollbar-width-height                  : 10px
  --calendar-scrollbar-track                         : #eeeeee
  --calendar-scrollbar-thumb                         : #888888
  --calendar-scrollbar-thumb-hover                   : #555555
  --calendar-scrollbar-track-dark                    : #eeeeee
  --calendar-scrollbar-thumb-dark                    : #888888
  --calendar-scrollbar-thumb-hover-dark              : #555555

  // misc
  --calendar-intervals-width                      : 56px
  --calendar-resources-width                      : 100px
  --calendar-work-week-width                      : 30px
  --calendar-mini-work-week-width                 : 30px
  --calendar-work-week-font-size                  : 1.0em
  --calendar-head-font-weight                     : 600
