@use 'sass:color';

// Tawny Theme Variables
$primary: #8b4513;
$secondary: #a0522d;
$accent: #d2691e;

$positive: #2ecc71;
$negative: #ff1732;
$info: #10a0ff;
$warning: #ffd52d;

$brand-primary: #8b4513;
$brand-secondary: #a0522d;
$brand-accent: #d2691e;
$brand-dark: #5c4033;
$brand-light: #f5f5dc;
$brand-medium: #c19a6b;
$brand-light-text: #5c4033;
$brand-light-bg: #f5f5dc;
$brand-dark-bg: #3e2723;
$brand-dark-text: #f5f5dc;
$brand-light-codeblock-bg: #fdfdfd;
$brand-light-codeblock-text: #5c4033;
$brand-dark-codeblock-bg: #5c4033;
$brand-dark-codeblock-text: #f5f5dc;

$header-btn-color--light: #8b4513;
$header-btn-hover-color--light: #a0522d;
$header-btn-color--dark: #d2691e;
$header-btn-hover-color--dark: #cd853f;

$light-pill: $brand-light;
$light-text: $brand-light-text;
$light-bg: $brand-light-bg;

$dark-pill: color.scale($brand-dark-bg, $lightness: 12%);
$dark-text: $brand-dark-text;
$dark-bg: $brand-dark-bg;

$separator-color: $brand-primary;
$separator-color-dark: $brand-accent;

$steps-bg: $brand-light-codeblock-bg;
$steps-bg-dark: $brand-dark-codeblock-bg;
$steps-text: $brand-light-text;
$steps-text-dark: $brand-dark-text;
$steps-title-color: $brand-light-text;
$steps-title-color-dark: $brand-dark-text;
$brand-border-color-light: $separator-color;
$brand-border-color-dark: rgba($brand-accent, 0.62);

$steps-border-color-light: $brand-border-color-light;
$steps-border-color-dark: $brand-border-color-dark;
$steps-marker-bg: $brand-primary;
$steps-marker-bg-dark: color.mix($brand-accent, $brand-light, 72%);
$steps-marker-color: $brand-light;
$steps-marker-color-dark: $brand-dark-bg;
$steps-shadow: 0 10px 20px 0 rgba($brand-dark, 0.08);
$steps-shadow-dark: 0 10px 20px 0 rgba(#000, 0.2);

$font-size: 16px;
$font-size-brand: 16px;
$font-weight-brand: 500;
$font-weight-technical: 400;
$letter-spacing-brand: 0.7px;

$font-family-technical:
  'Roboto',
  -apple-system,
  Avenir,
  BlinkMacSystemFont,
  'Segoe UI',
  Helvetica,
  Arial,
  sans-serif;
$font-family-examples: $font-family-technical;
$font-family-brand: 'Montserrat', $font-family-technical;

$shadow--large: 0 24px 24px 0 rgba(0, 179, 255, 0.24);
$shadow--medium: 0 6px 6px 0 rgba($brand-primary, 0.38);
$shadow--small: 0 6px 6px 0 rgba($brand-primary, 0.28);

// also update QHeader :height-hint
$header-height: 55px;
$header-transition: 0.6s cubic-bezier(0.25, 0.8, 0.5, 1);
$header-quick-transition: 0.28s ease-in-out;
