.DS_Store
.thumbs.db
node_modules
dist
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

ui/yarn.lock
ui/node_modules
ui/dev/yarn.lock
ui/dev/node_modules

demo/yarn.lock
demo/node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
