// app global css in SCSS form
@import '../.q-press/css/app.scss';
@import '../.q-press/css/fonts.scss';
@import '../.q-press/css/prism-theme.scss';

@import 'quasar/src/css/variables.sass';

.subcontent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  margin: 0 6px 6px 6px;
}

.list-item {
  text-align: left;
  justify-content: flex-start;
  margin: 2px;
  text-decoration: none;
  display: block;
  padding: 2px 4px;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;

  &:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  &:active {
    background-color: #004085;
    border-color: #004085;
  }
}

.line {
  line-height: 1.58em;
  margin-top: 8px;
  margin-bottom: 4px;
  text-align: center;
}

.highlight {
  box-shadow: inset 0 0 0 1px rgba(0, 191, 255, 0.85) !important;
  min-height: 6px !important;
  padding: 1px !important;
  transition: box-shadow 0.3s ease;
}

.anatomy {
  .q-item {
    border-radius: 8px;
  }

  .q-item--active {
    color: #00bfff !important;
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
  }
}

.q-dark div,
.body--dark div {
  .highlight {
    box-shadow: inset 0 0 0 1px rgba(238, 255, 0, 0.65) !important;
    min-height: 6px !important;
    padding: 1px !important;
  }
}
