.q-calendar-resource {
  // don't use relative positioning here as it breaks smooth transitions
  //position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;

  &__head--intervals {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  }

  &__head {
    position: relative;
    flex: none;
    display: flex;
    flex-direction: row;

    &--intervals {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
    }

    &--interval {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 10px;
      user-select: none;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex: 1 1 60%;
    flex-direction: column;
    overflow: hidden;
  }

  &__scroll-area {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    overflow: auto;
  }

  &__day--container {
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  &__resource--head {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    font-size: 10px;
  }

  &__resources--body {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__resource--row {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
  }

  &__resource {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: left;
    vertical-align: middle;
    outline: 0;

    &--interval {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      text-align: left;
      vertical-align: middle;
      outline: 0;
    }

    &--section {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      text-align: left;
      vertical-align: middle;
      outline: 0;
    }

    &--text {
      display: flex;
      position: relative;
      font-size: 12px;
      align-items: center;
      flex-wrap: wrap;
      padding: 2px;
    }

    &--intervals {
      box-sizing: border-box;
      display: flex;
      position: relative;
    }
  }
}

// sticky
.q-calendar-resource__resource.q-calendar__sticky,
.q-calendar-resource__resource--section.q-calendar__sticky {
  position: sticky;
  left: 0; /* rtl:ignore */
  z-index: 1;
}

.q-calendar-resource__head.q-calendar__sticky {
  position: sticky;
  left: 0; /* rtl:ignore */
  top: 0;
  z-index: 2;
}

.q-calendar-resource__head--resources.q-calendar__sticky {
  position: sticky;
  left: 0; /* rtl:ignore */
  top: 0;
  z-index: 10;
}

.q-calendar-resource {
  &__head {
    border-bottom: var(--calendar-border);
    color: var(--calendar-color);
    background: var(--calendar-background);
    font-weight: var(--calendar-head-font-weight);

    &--resources {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-right: var(--calendar-border);
      border-bottom: var(--calendar-border);
      color: var(--calendar-color);
      background: var(--calendar-background);
      min-width: var(--calendar-resources-width);
      max-width: var(--calendar-resources-width);
      padding: 0 4px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--interval {
      border-right: var(--calendar-border);

      &:last-child {
        border-right: none;
      }

      &.q-disabled-day {
        color: var(--calendar-disabled-date-color);
        background: var(--calendar-disabled-date-background) !important;
      }
    }
  }

  &__resource {
    border-right: var(--calendar-border);
    color: var(--calendar-color);
    background: var(--calendar-background);
    min-width: var(--calendar-resources-width);
    max-width: var(--calendar-resources-width);

    &:last-child {
      border-right: none;
    }

    &--row {
      border-top: var(--calendar-border);

      &:first-child {
        border-top: none;
      }
    }

    &--section {
      border-right: var(--calendar-border);
      color: var(--calendar-color);
      background: var(--calendar-background);
      min-width: var(--calendar-resources-width);
      max-width: var(--calendar-resources-width);
    }

    &--interval {
      border-right: var(--calendar-border);

      &:last-child {
        border-right: none;
      }

      &.q-disabled-day {
        color: var(--calendar-disabled-date-color);
        background: var(--calendar-disabled-date-background) !important;
      }
    }
  }

  .q-calendar__child--expanded > .q-calendar-resource__resource--row {
    border-top: var(--calendar-border) !important;
  }

  .q-calendar-resource__resource--row:not(:first-child) .q-calendar-resource__resource--interval,
  .q-calendar__child--expanded
    > .q-calendar-resource__resource--row
    .q-calendar-resource__resource--interval {
    border-top: var(--calendar-border);
  }
}

.q-calendar-resource:dir(rtl) {
  .q-calendar-resource__head--resources,
  .q-calendar-resource__resource,
  .q-calendar-resource__resource--section {
    border-right: none;
    border-left: var(--calendar-border);
  }

  .q-calendar-resource__head--interval,
  .q-calendar-resource__resource--interval {
    &:first-child {
      border-right: none;
    }

    &:last-child {
      border-right: var(--calendar-border);
    }
  }
}

.q-dark div,
.body--dark div,
.q-calendar--dark {
  .q-calendar-resource {
    &__head {
      color: var(--calendar-color-dark);
      background: var(--calendar-background-dark);
      border-bottom: var(--calendar-border-dark);

      &--resources {
        border-right: var(--calendar-border-dark);
        border-bottom: var(--calendar-border-dark);
        color: var(--calendar-color-dark);
        background: var(--calendar-background-dark);
      }

      &--interval {
        border-right: var(--calendar-border-dark);

        &.q-disabled-day {
          color: var(--calendar-disabled-date-color-dark);
          background: var(--calendar-disabled-date-background-dark) !important;
        }
      }
    }

    &__resource {
      border-right: var(--calendar-border-dark);
      color: var(--calendar-color-dark);
      background: var(--calendar-background-dark);

      &--row {
        border-top: var(--calendar-border-dark);
      }

      &--section {
        border-right: var(--calendar-border-dark);
        color: var(--calendar-color-dark);
        background: var(--calendar-background-dark);
      }

      &--interval {
        border-right: var(--calendar-border-dark);

        &.q-disabled-day {
          color: var(--calendar-disabled-date-color-dark);
          background: var(--calendar-disabled-date-background-dark) !important;
        }
      }
    }

    .q-calendar__child--expanded > .q-calendar-resource__resource--row {
      border-top: var(--calendar-border-dark) !important;
    }

    .q-calendar-resource__resource--row:not(:first-child) .q-calendar-resource__resource--interval,
    .q-calendar__child--expanded
      > .q-calendar-resource__resource--row
      .q-calendar-resource__resource--interval {
      border-top: var(--calendar-border-dark);
    }
  }

  .q-calendar-resource:dir(rtl) {
    .q-calendar-resource__head--resources,
    .q-calendar-resource__resource,
    .q-calendar-resource__resource--section {
      border-right: none;
      border-left: var(--calendar-border-dark);
    }

    .q-calendar-resource__head--interval,
    .q-calendar-resource__resource--interval {
      &:first-child {
        border-right: none;
      }

      &:last-child {
        border-right: var(--calendar-border-dark);
      }
    }
  }
}
