$day-label ?= 24px
$day-label-radius ?= 50%
$border-color ?= $grey-4
$day-past-color ?= $grey-13
$day-future-color ?= $grey-9
$day-current-color ?= $grey-9
$day-past-color ?= $grey-6
$day-outside-color ?= $grey-7
$outside-background-color ?= $grey-3
$background-color ?= $grey-1
$work-week-width ?= 50px
$work-week-color ?= $grey-6
$work-week-font-size ?= 2em
$resources-body-width ?= 100px
$intervals-body-width ?= 50px
